{% set menu = ["Мужчинам", "Женщинам", "Детям", "В Путешествие", "Бренды", "Распродажа"]%}
{% set subMenuTitle = ["Рюкзаки и сумки", "Одежда", "Аксессуары"]%}
{% set firstColumn = 
[
"Рюкзаки",
"Сумки спортивные",
"Сумки городские",
"Сумки на пояс",
"Сумки через плечо"
]
%}

{% set secondColumn = 
[
"Куртка",
"Ветровка",
"Толстовка",
"Свитер",
"Футболка с длинным рукавом",
"Футболка",
"Штаны"
]
%}

{% set thirdColumn = 
[
"Головные уборы",
"Кошельки",
"Чехлы для гаджетов",
"Пеналы",
"Для путешествий"
]
%}

{% block content %}
<!-- begin header -->
<header class="header">
	
	<!-- begin header-desk -->
	<div class="header-desk uk-visible@l">
		
		<!-- begin header-top-bar -->
		<div class="header__top-bar">
			<div class="uk-container uk-container--large">
				<div class="header-custom-grid">
					<div class="left-column"></div>
					<div class="right-column">
						<div class="top-bar__info">

							<div class="top-bar__links">
								<div class="geo icon-pin">
									<span class="geo-city">Москвы</span>
								</div>
								<a href="" class="icon-pack">Бесплатная доставка</a>
								<a href="">История бренда</a>
								<a href="">Доставка и оплата</a>
								<a href="">Контакты</a>
							</div>

							<div class="top-bar__contacts">
								<div class="contacts icon-phone">
									<a href="tel:+74951172233">+7 (495) 117-22-33</a>
									<a href="tel:+78001233344">8-800-123-33-44</a>
								</div>
								<div class="timework">
									(Пн-Пт 10-18)
								</div>
							</div>
							
							<div class="auth">
								<div class="auth__enter icon-user">
									<a href="" uk-toggle="#modal-auth">Войти</a>	
								</div>
								<div class="auth__exit icon-user uk-hidden@l">
									<a href="">Иванов Иван</a>
								</div>
							</div>	

						</div>
					</div>
				</div>
			</div>
		</div><!-- end header-top-bar -->

		<!-- begin header-bottom-bar -->
		<div id="dropdown-menu-width" class="header__bottom-bar">
			<div class="uk-container uk-container--large">
				<div class="header-custom-grid">
					<div class="left-column">
						<div class="logo-wrapper">
							<div class="logo">
								<a href="/">
									<img src="img/media/backpacks-logo.svg" alt="Backpacks">
								</a>
							</div>
						</div>
					</div>
					<div class="right-column">
						<div class="bottom-bar__inner">

							<div class="tool-bar">
								<div class="search">
									<!-- <a href="" class="icon-search js__toggle-search"><span class="text">Поиск</span></a> -->
									<form action="" class="form-search-top">
										<input type="text" placeholder="Поиск">
										<button type="submit" class="icon-search"></button>
									</form>
								</div>
								<div class="tool-bar__btns">
									<div class="favorite is-added">
										<a href="" class="icon-star icon-star-fill"><span class="text">Отложено</span></a>
									</div>
									<div class="basket">
										<a href="">
											<span class="basket__icon icon-basket">
												<span class="basket__count">2</span>
											</span>
											<span class="text">Корзина</span>
										</a>
									</div>
								</div>
							</div>

							<nav class="main-nav">
								<ul>
									{% for i in 0..5 %}
									    {% if loop.last == false %}
									    	<li class="parent nav-item">
									    		<a href="">{{ menu[i] }}</a>
									    		<div class="dropdown-menu" uk-dropdown="pos: bottom-justify; offset: 2; boundary: #dropdown-menu-width; boundary-align: true; delay-show: 150; delay-hide: 0;">
									    			<div class="uk-container uk-container--large">
									    				
									    				<div class="dropdown-menu-wrapper">
										    				<div class="uk-grid uk-child-width-1-4" uk-grid>
										    					{% for i in 0..3 %}
										    					    {% if loop.last == false %}
																			<div class="menu-section-wrapper">
																				<div class="menu-section">
																					<div class="menu-section__title"><a href="">{{subMenuTitle[i]}}</a></div>
																					<ul class="menu-section__links">
																						{% if i == 0 %}
																							{% for i in 0..4 %}
																							    <li><a href="">{{firstColumn[i]}}</a></li>
																							{% endfor %}
																						{% endif %}
																						{% if i == 1 %}
																								{% for i in 0..6 %}
																							    <li><a href="">{{secondColumn[i]}}</a></li>
																								{% endfor %}
																						{% endif %}
																						{% if i == 2 %}
																								{% for i in 0..4 %}
																							    <li><a href="">{{thirdColumn[i]}}</a></li>
																								{% endfor %}
																						{% endif %}
																					</ul>
																				</div>
																			</div>
																			{% else %}
																			  <div class="sections-image">
																			  	<img data-src="img/media/section-img-350x370.png" alt="" uk-img>
																			  </div>
										    					    {% endif %}
										    					{% endfor %}
										    				</div>
									    				</div>
									    			</div>
									    		</div>
									    	</li>
											{% else %}
												<li class="nav-item eco-item">
													<a href="">Товары ECO</a>
												</li>
												<li class="nav-item stock-item">
													<a href="">{{ menu[i] }}</a>
												</li>
									    {% endif %}
									{% endfor %}

								</ul>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div><!-- end header-bottom-bar -->
	
		<!-- begin search-desktop -->
		<div class="search-desktop">

			<!-- begin search-wrapper -->
			<div class="search-wrapper">
				<div class="uk-container">
					<form action="" class="form search-form">
						<input type="text" placeholder="Введите поисковый запрос" class="js__send-ajax">
						<button class="btn">Найти</button>
					</form>
					<a href="#" class="close-form icon-close js__close-search-result"></a>
				</div>
			</div><!-- end search-wrapper -->
		
			<!-- begin search-result-wrapper -->
			<div class="search-result-wrapper">
					<div class="uk-container">
						<div class="search-result__title">Товаров не найдено, но посмотрите что у нас есть</div>
						<div class="search-result uk-child-width-1-6@m" uk-grid>
							{% for item in 0..5 %}
							<div class="item-wrapper">
								<div class="item">
									<div class="item__img">
										<a href=""><img src="img/media/catalog-img.png" alt=""></a>
									</div>
									<div class="item__name"><a href="">Daypack | Santa Cruz</a></div>
									<div class="item__price">
										<div class="price__old"></div>
										<div class="price__current">5860 Р.</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<a href="" class="show-all icon-small-arrow-right">Показать все товары</a>	
					</div>
					
			</div><!-- end search-result-wrapper -->

		</div><!-- end search-desktop -->

	</div><!-- end header-desk -->

	<!-- begin header-mobile -->
	<div class="header-mobile uk-hidden@l">
		<div class="uk-container">

			<div class="uk-grid">
				<div class="uk-width-1-2">
					<div class="mobile-logo">
						<a href=""><img src="img/media/backpacks-logo.svg" alt=""></a>
					</div>
				</div>
				<div class="uk-width-1-2">
					<ul class="mobile-menu">
						<li><a href="#" class="icon-search js__show-form"></a></li>
						<li><a href="#" class="icon-star"></a></li>
						<li>
							<div class="basket">
								<a href="">
									<span class="basket__icon icon-basket">
										<span class="basket__count">2</span>
									</span>
									<span class="text">Корзина</span>
								</a>
							</div>
						</li>
						<li><a href="#" class="icon-menu" uk-toggle="target: #offcanvas-menu"></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div><!-- end header-mobile -->

	<!-- begin offcanvas-menu -->
	<div id="offcanvas-menu" class="uk-offcanvas" uk-offcanvas>
		<div class="uk-offcanvas-bar">
			<div class="uk-panel">
				<div class="uk-panel__top">
					<div class="contacts icon-phone">
						<a href="tel:+74951172233">7 (495) 117-22-33</a>
						<a href="tel:+78001233344">8-800-123-33-44</a>
					</div>
					<div class="auth">
						<div class="auth__enter icon-user">
							<a href="">Войти</a>	
						</div>
					</div>
				</div>
				<ul class="uk-nav">
					<li>
						<a href="">Мужчинам <i class="icon icon-chevron-right js__menu-sublist-toggle"></i></a>
						<div class="uk-nav__inner hidden">
							<i class="icon-chevron-left navbar-close"><span>Мужчинам</span></i>
							<ul class="menu-sublist">
								<li>
									<a href="">Рюкзаки <i class="icon-chevron-right js__menu-sublist-toggle"></i></a>
									<div class="uk-nav__inner hidden">
										<i class="icon-chevron-left navbar-close"><span>Рюкзаки</span></i>
										<ul class="menu-sublist">
											<li><a href=""> Подвид рюкзаков</a></li>
											<li><a href=""> Подвид рюкзаков</a></li>
											<li><a href=""> Подвид рюкзаков</a></li>
											<li><a href=""> Подвид рюкзаков</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<a href="">Женщинам <i class="icon icon-chevron-right js__menu-sublist-toggle"></i></a>
						<div class="uk-nav__inner hidden">
							<i class="icon-chevron-left navbar-close"><span>Женщинам</span></i>
							<ul class="menu-sublist">
								<li>
									<a href="">Рюкзаки <i class="icon-chevron-right js__menu-sublist-toggle"></i></a>
									<div class="uk-nav__inner hidden">
										<i class="icon-chevron-left navbar-close"><span>Рюкзаки</span></i>
										<ul class="menu-sublist">
											<li><a href=""> Подвид рюкзаков</a></li>
											<li><a href=""> Подвид рюкзаков</a></li>
											<li><a href=""> Подвид рюкзаков</a></li>
											<li><a href=""> Подвид рюкзаков</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="">Детям</a></li>
					<li><a href="">В путешествие</a></li>
					<li><a href="">Коллекции</a></li>
					<li><a href="">Распродажа</a></li>
				</ul>
				<div class="uk-panel__bottom">
					<ul>
						<li><a href="">История бренда</a></li>
						<li><a href="">Доставка и оплата</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- end offcanvas-menu -->

	<!-- begin mobile-form -->
	<div class="mobile-form uk-hidden@l">
		<div class="uk-container">
			<form action="" class="default-form">
				<input type="text">
				<button type="submit" class="mobile-search-btn icon-search"></button>
			</form>
		</div>
	</div><!-- end mobile-form -->

</header><!-- end header -->
{% if main != false %}
<!-- begin promo -->
<div class="promo-panel">
	<div class="uk-container">
		<div class="promo-panel__inner">
			<div class="promo-panel__text">
				Дарим скидку 10% на первую покупку за подписку на выгодные предложения
			</div>
			<form action="" class="promo-form default-form">
				<div class="uk-grid uk-grid-collapse">
					<div class="uk-width-expand">
						<input type="email" name="email" placeholder="Ваш email">
					</div>
					<div class="uk-width-expand">
						<button class="btn">Получить скидку</button>
					</div>
				</div>
				
			</form>
			<a href="#" class="close-form icon-close js__close-promo"></a>
		</div>
	</div>
</div><!-- end promo -->
{% endif %}
{% endblock %}


<div style="display: none">

	<div class="service-top-banner soprov">
		<div class="center-box">
			<div class="service-top-banner__text">
				<h1>Сопровождение сделок с недвижимостью в Москве</h1>
				<div class="text">
					Агентство NOVOC Realty окажет Вам профессиональную помощь 
					при регистрации и сопровождении сделки с 
					недвижимостью на вторичном рынке! 
				</div>
				<a title="Связаться с нами" class="call-me form-open button">Связаться с нами</a>
			</div>
		</div>
	</div>

	<div class="gray-bg">
		<div class="center-box">

			<h2 class="h2-services margin-top-none">Условия оказания услуги:</h2>

			<ul class="round-list">
				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-1.svg" alt="">
					</div>
					<div class="item__text">
						Сбор и подготовка всей необходимой документации для проведения сделки
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-2.svg" alt="">
					</div>
					<div class="item__text">
						Полная юридическая безопасность с гарантией чистоты сделки.
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-3.svg" alt="">
					</div>
					<div class="item__text">
						Бесплатные консультации по всем вопросам, связанным с оформлением недвижимости.
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-4.svg" alt="">
					</div>
					<div class="item__text">
						Надежность и безопасность при финансовых расчетах.
					</div>
				</li>
			</ul>
			
			<section class="white-bg">
				<div class="center-box-small">
					<h2 class="h2-services margin-top-none">Этапы сделки</h2>

					<ol class="vertical-list">
						<li class="item">
							<div class="item__title">Обращение к нам</div>
							<div class="item__text">
								Оставьте заявку, закажите обратный звонок или позвоните нам сами.
							</div>
						</li>

						<li class="item">
							<div class="item__title">Сбор документов для сделки</div>
							<div class="item__text">
								Возьмём на себя все вопросы по сбору всех необходимых документов для сделки в случае предоставления таких полномочий от Вас.
							</div>
						</li>

						<li class="item">
							<div class="item__title">Проведение переговоров</div>
							<div class="item__text">
								Организуем и проведём встречу продавца с покупателем, в ходе которой обсудим все нюансы предстоящей сделки.
							</div>
						</li>

						<li class="item">
							<div class="item__title">
								Проверка юридической чистоты объекта недвижимости
							</div>
							<div class="item__text">
								Осуществляем проверку подлинности документов, необходимых для совершения сделки, прав собственности на объект и даем разъяснение по приведению их в соответствие действующего законодательства РФ.
							</div>
						</li>

						<li class="item">
							<div class="item__title">
								Согласование и подписание договора купли-продажи
							</div>
							<div class="item__text">
								Закрепляем все достигнутые договоренности в договоре, добавляя необходимые пункты, защищающие Ваши интересы и гарантирующие безопасность взаиморасчетов.
							</div>
						</li>

						<li class="item">
							<div class="item__title">
								Проведение сделки и регистрация прав собственности
							</div>
							<div class="item__text">
								Участвуем в завершении сделки и поможем Вам осуществить подачу документов в соответствующие органы для регистрации перехода права собственности на объект недвижимости, а на проведенную сделку Вы получаете гарантию!
							</div>
						</li>
					</ol>

				</div>
			</section>

			<section class="consultation">

				<div class="flex-row">
					<div class="consultation__title">Есть вопросы?</div>
					<span class="green-line">123</span>
					<a href="tel:+74952760303" class="big-tel">+7 (495) 276-03-03</a>
				</div>

				<div class="flex-row">
					<span class="consultation__text">
						Звоните или закажите бесплатную консультацию
					</span>
					<a class="call-me form-open button" title="Связаться с нами">
						Бесплатная консультация
					</a>
				</div>

			</section>

		</div>
	</div>

	<div class="white-bg">
		<div class="center-box">
			<section class="order-service">

				<div class="order-service__img">
					<img src="/templates/miel/images-new/icons/tel-icon.svg" alt="">
				</div>

				<h2 class="h2-services">
					Заполните заявку на сопровождение  Вашей сделки по недвижимости
				</h2>

				<div class="order-service__content">
					
					<div class="left-block">
						<p class="bold-text">
							Агентство NOVOC realty специализируется на сопровождении 
							сделок с недвижимостью в Москве более 10 лет.
						</p>
						<p>
							Мы поможем провести Вам сделку на выгодных финансовых условиях и с минимальными затратами вашего времени и сил!
						</p>
					</div>

					<div class="right-block">
						
						<form class="order-service-form">
							<input type="text" placeholder="Ваше имя">
							<input type="tel" placeholder="Телефон">
							<button type="submit" class="button">Перезвоните мне</button>
						</form>

					</div>

				</div>

			</section>
		</div>
	</div>

</div>




<div style="display: none">

	<div class="service-top-banner vykup">
		<div class="center-box">
			<div class="service-top-banner__text">
				<h1>Срочный выкуп квартир в Москве</h1>
				<div class="text">
					Срочный выкуп квартир – возможность на 
					максимально выгодных для Вас условиях продать оперативно свою квартиру.
					Все заботы и расходы по оформлению берем на себя! 
				</div>
				<a title="Связаться с нами" class="call-me form-open button">Связаться с нами</a>
			</div>
		</div>
	</div>

	<div class="gray-bg">
		<div class="center-box">

			<h2 class="h2-services margin-top-none">Условия сделки:</h2>

			<ul class="round-list">
				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-5.svg" alt="">
					</div>
					<div class="item__text">
						Выкуп квартир происходит за наши собственные средства
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-6.svg" alt="">
					</div>
					<div class="item__text">
						Принятие решения в течение 1 рабочего дня
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-7.svg" alt="">
					</div>
					<div class="item__text">
						Выкуп залоговых, ипотечных, с долгами по ЖКХ и прочими обременениями квартиры
					</div>
				</li>

				<li class="item">
					<div class="item__img">
						<img src="/templates/miel/images-new/icons/services-img-8.svg" alt="">
					</div>
					<div class="item__text">
						Аванс в день обращения, прозрачный механизм проведения сделки
					</div>
				</li>
			</ul>
			
			<section class="white-bg">
				<div class="center-box-small">
					<h2 class="h2-services margin-top-none">Этапы сделки</h2>

					<ol class="vertical-list">
						<li class="item">
							<div class="item__title">Обращение к нам</div>
							<div class="item__text">
								Оставьте заявку, закажите обратный звонок или позвоните нам сами.
							</div>
						</li>

						<li class="item">
							<div class="item__title">Оценка вашей квартиры</div>
							<div class="item__text">
								Наши специалисты проведут бесплатную оценку квартиры и предложит Вам лучшую цену за неё. Аванс Вы сможете забрать уже в день обращения!
							</div>
						</li>

						<li class="item">
							<div class="item__title">Подготовка документов</div>
							<div class="item__text">
								Возьмём на себя все вопросы, связанные с проведением сделки и сбором необходимых документов.
							</div>
						</li>

						<li class="item">
							<div class="item__title">
								Прозрачное проведение сделки
							</div>
							<div class="item__text">
								Используем банковскую ячейку или аккредитив (расчетный счёт), как при оформлении ипотеки.
							</div>
						</li>

						<li class="item">
							<div class="item__title">
								Получение Вами оплаты за квартиру
							</div>
							<div class="item__text">
								При желании Вы выбираете банк, а мы производим перевод средств еще до подписания договора купли-продажи.
							</div>
						</li>
					</ol>

				</div>
			</section>

			<section class="consultation">

				<div class="flex-row">
					<div class="consultation__title">Есть вопросы?</div>
					<span class="green-line">123</span>
					<a href="tel:+74952760303" class="big-tel">+7 (495) 276-03-03</a>
				</div>

				<div class="flex-row">
					<span class="consultation__text">
						Звоните или закажите бесплатную консультацию
					</span>
					<a class="call-me form-open button" title="Связаться с нами">
						Бесплатная консультация
					</a>
				</div>

			</section>

		</div>
	</div>

	<div class="white-bg">
		<div class="center-box">
			<section class="order-service">

				<div class="order-service__img">
					<img src="/templates/miel/images-new/icons/tel-icon.svg" alt="">
				</div>

				<h2 class="h2-services">
					Заполните заявку на выкуп квартиры
				</h2>

				<div class="order-service__content">
					
					<div class="left-block">
						<p class="bold-text">
							Агентство NOVOC realty специализируется на сопровождении 
							сделок с недвижимостью в Москве более 10 лет.
						</p>
						<p>
							Мы поможем провести Вам сделку на выгодных финансовых условиях и с минимальными затратами вашего времени и сил!
						</p>
					</div>

					<div class="right-block">
						
						<form class="order-service-form">
							<input type="text" placeholder="Ваше имя">
							<input type="tel" placeholder="Телефон">
							<button type="submit" class="button">Перезвоните мне</button>
						</form>

					</div>

				</div>

			</section>
		</div>
	</div>

</div>
