{% extends "layouts/default.twig" %}
{% set title="Каталог" %}
{% set bread = ["Главная", "Рюкзаки и сумки", "Рюкзаки"] %}
{% set main = false %}
{% block content %}
	<main class="main">

		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-4@m">
					<!-- begin left-sidebar -->
					<div class="left-sidebar">
						<div class="filter-btn uk-hidden@m">
							<a href="" class="btn btn--lighten btn--filter active js__toggle-filter">
								<span class="filter-icon dark active">
									<span class="line line-1"></span>
									<span class="line line-2"></span>
									<span class="line line-3"></span>
								</span>
								Фильтр
							</a>
						</div>
						<div class="left-sidebar__inner">
							<!-- begin filter-menu -->
							<div class="filter-menu">
								<a class="filter-menu__title-section">Мужчинам <i class="icon-triangle js__toggle-filter-menu"></i></a>
								<ul class="filter-menu-list">
									<li class="parent">
										<a href="" class="is-open">Рюкзаки и сумки <i class="icon-chevron-right js__toggle-sublist is-open"></i></a>
										<ul class="sublist">
											<li class="parent">
												<a href="">Рюкзаки <i class="icon-chevron-right js__toggle-sublist"></i></a>
												<ul class="sublist">
													<li><a href="#">Lorem-1</a></li>
													<li><a href="#">Lorem-2</a></li>
													<li><a href="#">Lorem-3</a></li>
													<li><a href="#">Lorem-4</a></li>
													<li><a href="#">Lorem-5</a></li>
												</ul>
											</li>
											<li>
												<a href="">Сумки дорожные</a>
											</li>
											<li>
												<a href="">Сумки для ноутбука</a>
											</li>
											<li>
												<a href="">Сумки поясные</a>
											</li>
											<li>
												<a href="">Сумки через плечо</a>
											</li>
											<li>
												<a href="">Сумки спортивные</a>
											</li>
										</ul>
									</li>
									<li class="parent">
										<a href="">Одежда <i class="icon-chevron-right js__toggle-sublist"></i></a>
										<ul class="sublist">
											<li class="parent">
												<a href="">Рюкзаки <i class="icon-chevron-right js__toggle-sublist"></i></a>
												<ul class="sublist">
													<li><a href="#">Lorem-1</a></li>
													<li><a href="#">Lorem-2</a></li>
													<li><a href="#">Lorem-3</a></li>
													<li><a href="#">Lorem-4</a></li>
													<li><a href="#">Lorem-5</a></li>
												</ul>
											</li>
											<li>
												<a href="">Сумки дорожные</a>
											</li>
											<li>
												<a href="">Сумки для ноутбука</a>
											</li>
											<li>
												<a href="">Сумки поясные</a>
											</li>
											<li>
												<a href="">Сумки через плечо</a>
											</li>
											<li>
												<a href="">Сумки спортивные</a>
											</li>
										</ul>
									</li>
									<li class="parent">
										<a href="">Аксессуары <i class="icon-chevron-right js__toggle-sublist"></i></a>
										<ul class="sublist">
											<li class="parent">
												<a href="">Рюкзаки <i class="icon-chevron-right js__toggle-sublist"></i></a>
												<ul class="sublist">
													<li><a href="#">Lorem-1</a></li>
													<li><a href="#">Lorem-2</a></li>
													<li><a href="#">Lorem-3</a></li>
													<li><a href="#">Lorem-4</a></li>
													<li><a href="#">Lorem-5</a></li>
												</ul>
											</li>
											<li>
												<a href="">Сумки дорожные</a>
											</li>
											<li>
												<a href="">Сумки для ноутбука</a>
											</li>
											<li>
												<a href="">Сумки поясные</a>
											</li>
											<li>
												<a href="">Сумки через плечо</a>
											</li>
											<li>
												<a href="">Сумки спортивные</a>
											</li>
										</ul>
									</li>
								</ul>
							</div><!-- end filter-menu -->

							<!-- begin filter -->
							<div class="filter">
								<form action="" class="filter-form">
									<fieldset>
										<div class="group-title">Фичи</div>
										<div class="group-list">
											{% for i in 0..4 %}
											<label for="item-{{i}}" class="custom-checkbox-wrapper">
												<input id="item-{{i}}" type="checkbox">
												<span class="custom-checkbox"></span>
												<span class="custom-label">Карман для 15" ноутбука</span>
											</label>
											{% endfor %}
										</div>
									</fieldset>
									<fieldset>
										<div class="group-title">Объем</div>
										<div class="group-list">
											{% for i in 5..7 %}
											<label for="item-{{i}}" class="custom-checkbox-wrapper">
												<input id="item-{{i}}" type="checkbox">
												<span class="custom-checkbox"></span>
												<span class="custom-label">до 15 литров</span>
											</label>
											{% endfor %}
										</div>
									</fieldset>
									<fieldset>
										<div class="group-title">Цвета</div>
										<div class="group-list color-list">
											{% for j in 10..21 %}
											<label for="{{j}}" class="color-checkbox" uk-tooltip="title: Название цвета; pos: right">
												<input id="{{j}}" type="checkbox">
												<span class="custom-checkbox" style="background-color: #000{{j}}0"></span>
											</label>
											{% endfor %}
										</div>
									</fieldset>
									<fieldset>
										<div class="group-title">Цена</div>
										<div class="group-list">
											<div class="ui-slider-box">
												<div class="ui-slider-wrapper">
													<div class="ui-slider-min"></div>
													<div class="ui-slider-max"></div>
													<div id="ui-slider" class="ui-slider"></div>
												</div>
												<div class="input-box">
													<div class="input-section">
														<input type="number" id="min" class="price-input-min js__ui-slider">
													</div>
													<div class="separate"></div>
													<div class="input-section">
														<input type="number" id="max" class="price-input-max js__ui-slider">
														<span class="input-type-values">р.</span>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
									<div class="btn-wrapper">
										<button type="submit" class="btn btn--dark">Применить</button>
										<button type="reset" class="btn btn--reset"> <i class="icon-close"></i> Сбросить</button>
									</div>
								</form>
							</div><!-- end filter -->

						</div>
					</div><!-- end left-sidebar -->
				</div>
				<div class="uk-width-3-4@m">
					
					<!-- begin catalog -->
					<div class="catalog">
						<!-- begin catalog-header -->
						<div class="catalog-header">
							<h1 class="title-h1">Мужские рюкзаки</h1>
								<div class="catalog-bar">
									<div class="uk-grid">
										<div class="uk-width-3-5 uk-visible@m">
											<div class="tags-list-wrapper">
												<ul class="tags-list"><!-- Start tags-list -->
													{% for item in 0..0 %}
													<li>
														<a href="">Для ноутбука <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li>
														<a href="">Ранцы <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li>
														<a href="">Городской <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li>
														<a href="">С ремнями <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li>
														<a href="">Little America <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li class="active">
														<a href="">Для путешествий <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li>
														<a href="">С пряжками <i class="icon-close js__toggle-activity"></i></a>
													</li>
													<li>
														<a href="">Все теги <i class="icon-close js__toggle-activity"></i></a>
													</li>
													{% endfor %}
												</ul><!-- end tags-list -->
											</div>
										</div>
										<div class="uk-width-2-5@m">
											<!-- begin sort-panel -->
											<div class="sort-panel">
												<div class="custom-select">
													<div class="custom-select__label">Сортировать по:</div>
													<select name="" id="" class="js__custom-select" data-theme="default">
														<option value="">Популярное</option>
														<option value="">По возрастанию цены</option>
														<option value="">По убыванию цены</option>
														<option value="">По новинкам</option>
														<option value="">По скидке</option>
													</select>
												</div>
											</div><!-- end sort-panel -->
										</div>
									</div>
								</div>
							</div>
							
						</div><!-- begin catalog-header -->
						
						<!-- begin catalog-body -->
						<div class="catalog-body">
							
							<div class="catalog-body__list">
								<div class="uk-grid">
									{% for item in 1..12 %}
									<div class="uk-width-1-2@s uk-width-1-3@m">
										<div class="card">
											<div class="card-wrapper">
												<div class="card__inner">
													<div class="card__img">
														<a href="">
															<picture>
																<source srcset="img/media/test-webp.webp" type="image/webp">
																<source srcset="img/media/catalog/catalog-img-{{item}}-277x309.png" type="image/png">
																<img src="img/media/catalog/catalog-img-{{item}}-277x309.png" alt="">
															</picture>
														</a>
													</div>
													<div class="stocks">
														<div class="new">new</div>
														<div class="discount">-50%</div>
														<div class="zero">
															<span>zero</span>
															<img src="img/ui/green.svg" alt="">
															<span>waste</span>
														</div>
														<div class="delivery">
															<span>0₽</span>
															<span class="icon-truck"></span>
														</div>
													</div>
													<div class="favorite-icon">
														<a href="" class="icon-star"></a>
													</div>
													<div class="card__product-name"><a href="">Рюкзак Settlement Backpack Settlement Backpack</a></div>
													<div class="card__price">
														<div class="old-price">12 889 Р.</div>
														<div class="current-price">6 890 Р.</div>
													</div>
													<a href="" class="card__toggle-btn icon-chevron-right js__show-preview-slider">Посмотреть все цвета</a>
													<div class="card__bottom">
														<div class="preview-slider">
															<div class="slider">
																{% for slide in 1..5 %}
																		{% if slide == 3 %}
																	    <div class="slide disabled">
																	    	<img data-lazy="img/sliders/card-preview-img-{{slide}}-72x82.png" alt="">
																	    </div>
																		{% endif %}
																    <div class="slide">
																    	<img data-lazy="img/sliders/card-preview-img-{{slide}}-72x82.png" alt="">
																    </div>
																{% endfor %}
															</div>
														</div>
														<a href="" class="btn btn--medium btn--dark" uk-toggle="target: #modal-fastview">Быстрый просмотр</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div class="separate-title">
								<a href="" class="btn">Показать еще</a>
							</div>
							{% include "includes/pagination.twig" %}
						</div><!-- end catalog-body -->
						
						<!-- begin seo-text -->
						<div class="seo-text">
							<h2 class="title-h2">Рюкзаки с дизайном вне времени</h2>
							<div class="text">
								<p>
									Благодаря своим вместительным и универсальным формам и прочным материалам, рюкзаки и сумки Herschel Supply Co. подойдут и студентам, и офисным сотрудникам и даже тем, кто не никогда не сидит на одном месте. А огромное разнообразие принтов и фактур поможет подчеркнуть свою индивидуальность. Идеи новых рисунков и палитр для коллекций постоянно приходят в голову Джейми и Линдону в частых путешествиях и не только. Главное для них — не следовать слепо трендам, меняющимся со скоростью света. Все аксессуары Herschel Supply Co. не теряют своей актуальности с приходом нового сезона и смены коллекций. Не отрицают дизайнеры и своей любви к экспериментам с материалами и формами, которые находят воплощение в линейке Bad Hills. Нередко бренд сотрудничает с другими интересными марками стрит-вира, дизайнерами и художниками, чтобы воплотить в жизнь совместные идеи.
								</p>
							</div>
							<a href="" class="show-all icon-small-arrow-right">Узнать больше</a>
						</div><!-- end seo-text -->

					</div><!-- end catalog -->

				</div>
			</div>
		</div>

	</main>
{% endblock content %}
